<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ramya</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">ramya</property>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>

		<mapping class="com.app.Employee" />
		<mapping class="org.sathya.Customers" />
		<mapping class="org.sathya.Vendor" />
		<mapping class="com.sathya.Person"/>
		<mapping class="com.sathya.Emp"/>
		<mapping class="com.sathyatech.Customer" />
		<mapping class="com.sathyatech.VendorParent" />
	</session-factory>
</hibernate-configuration>        