<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletPractice</display-name>
  <servlet>
    <description></description>
    <display-name>MyFirstServlet</display-name>
    <servlet-name>MyFirstServlet</servlet-name>
    <servlet-class>com.app.MyFirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFirstServlet</servlet-name>
    <url-pattern>/srv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyDataServlet</display-name>
    <servlet-name>MyDataServlet</servlet-name>
    <servlet-class>com.app.data.MyDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyDataServlet</servlet-name>
    <url-pattern>/srv1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormReadServlet</display-name>
    <servlet-name>FormReadServlet</servlet-name>
    <servlet-class>com.app.register.FormReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormReadServlet</servlet-name>
    <url-pattern>/srv2</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Register.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LifeCycleServlet</display-name>
    <servlet-name>LifeCycleServlet</servlet-name>
    <servlet-class>com.app.lifecycle.LifeCycleServlet</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleServlet</servlet-name>
    <url-pattern>/lifecycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServletConfig</display-name>
    <servlet-name>MyServletConfig</servlet-name>
    <servlet-class>com.app.servletconfig.MyServletConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServletConfig</servlet-name>
    <url-pattern>/config</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServletConfig1</display-name>
    <servlet-name>MyServletConfig1</servlet-name>
    <servlet-class>com.app.servletconfig.MyServletConfig1</servlet-class>
    <init-param>
      <param-name>mydata</param-name>
      <param-value>Hello</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServletConfig1</servlet-name>
    <url-pattern>/config1</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>mydata</param-name>
    <param-value>HelloaData</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>MyServletContext</display-name>
    <servlet-name>MyServletContext</servlet-name>
    <servlet-class>com.app.servletcontext.MyServletContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServletContext</servlet-name>
    <url-pattern>/context</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegInfoServlet</display-name>
    <servlet-name>RegInfoServlet</servlet-name>
    <servlet-class>com.app.servlet.RegInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegInfoServlet</servlet-name>
    <url-pattern>/srv4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PdfDataServlet</display-name>
    <servlet-name>PdfDataServlet</servlet-name>
    <servlet-class>com.app.pdfserv.PdfDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfDataServlet</servlet-name>
    <url-pattern>/pdf</url-pattern>
  </servlet-mapping>
</web-app>